body {
	margin: 0;
	padding: 0;

	& * {
		box-sizing: border-box;
	}
}

.container {
	width: 90%;
	margin: 50px auto;
	display: grid;
	border: 1px solid goldenrod;

	grid-template-columns: repeat(2, 2fr);
	grid-auto-rows: 200px;
	grid-gap: 150px;


	&__block {

		border-radius: 5px;
		box-shadow: 0 0 10px deeppink;

		&:nth-child(odd) {
			background-color: firebrick;
			color: chartreuse;
		}

		&:nth-child(even) {
			background-color: fuchsia;
			color: lightyellow;
		}
	}
}